{% extends 'base.html.twig' %}

{% block title %}bookingOrderForm!{% endblock %}

{% block body %}

    <script>     </script>
    <div class = "row">
        <div class= "col-md-12" id= "cart">
            <div class = "row"  >

                {{ form_start(form) }}

                {# { form_errors(form) } #}

                {# Render the bookingOrder fields #}
                <h3>{% trans %} Your orders {% endtrans %} </h3>

                <li class="bookingOrderDTO">
                    {{ form_widget(form) }}

                    {% if visitorDTOs is defined %}
                        <ul class="visitors" data-prototype="{{ form_widget(visitors.vars.prototype)|e('html_attr') }}">
                            <h3>{% trans %} Your guests {% endtrans %} </h3>
                            {# iterate over each existing Visitor and render fields to enter #}
                            {% for visitor in visitors %}
                                <li class = "visitor">
                                    {% include('inc/_visitor.html.twig') %}
                                    <p> xxxxxx </p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>

            </div>

            {{ form_rest(form) }}
            <p> <i class="glyphicon glyphicon-chevron-left"></i> </p>
            <input type="submit" class="btn btn-primary" value= "{% trans %} Go ahead {% endtrans %} " />

            {{ form_end(form) }}

        </div>
    </div>
    <script>
    </script>
{% endblock %}

