<!DOCTYPE html>
<html lang="en">
<body>

<h1>Louvre museum</h1>
<h2>Confirmation</h2>
{% set vars = {'level': '4'} %}
<p class="container">
    <p>{% trans %}order_confirmed and settled{% endtrans %}</p>
    <h3>{% trans %}Payment ref: {% endtrans %} {{ bookingOrder.extPaymentRef }}  {{ bookingOrder.extPaymentStatus }}</h3>
    <br>
    <hr>
    <h3>{% trans %}Order ref: {% endtrans %} {{ bookingOrder.bookingRef }}  </h3>
    <p>{{ bookingOrder.wishes }}  {% trans %}visitor(s) expected on{% endtrans %}  {{ bookingOrder.expectedDate | date("d/m/Y") }}  </p>

    {% include 'inc/_visitor.html.twig' with vars %}


    <p> <img class="float left" src= $img  alt="logo Louvre"/></p>
    <p>{% trans %}hope_you_will_enjoy_your_visit{% endtrans %}</p>

</div>
</body>
</html>