<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Confirmation</h1>
<h2>Louvre museum</h2>

<p>{% trans %}Your order is confirmed!{% endtrans %}</p>
<p>{% trans %}Order ref: {% endtrans %} {{ bookingOrder.bookingRef }}  </p>
<p>{% trans %}Payment ref: {% endtrans %} {{ bookingOrder.extPaymentRef }}  {{ bookingOrder.extPaymentStatus }}</p>

<p>{{ bookingOrder.wishes }}  {% trans %}visitor(s) expected on{% endtrans %}  {{ bookingOrder.expectedDate | date("d/m/Y") }}  </p>

{% include 'inc/_visitor.html.twig' with vars %}

<p>hope_you_will_enjoy_your_visit</p>
<img src=" {{ asset('img/logo.png') }} "  alt="logo du Louvre"/>
</body>
</html>