<!DOCTYPE html>
<meta charset="UTF-8">

<body>

<h1>Louvre museum</h1>
<h2>Confirmation</h2>
{% set vars = {'level': '4'} %}
<div class="container">
    <p>{% trans %}order_confirmed and settled{% endtrans %}</p>
    <h3>{% trans %}Payment ref: {% endtrans %} {{ bookingOrder.extPaymentRef }}  {{ bookingOrder.extPaymentStatus }}</h3>
    <br>
    <hr>
    <div class="float left">
        <img src="{{ img }}" alt="logo Louvre"/>
    </div>

    <p>{{ bookingOrder.wishes }}  {% trans %}visitor(s) expected on{% endtrans %}  {{ bookingOrder.expectedDate | date("d/m/Y") }}  </p>

    <h3>{% trans %}Order ref: {% endtrans %} {{ bookingOrder.bookingRef }}  </h3>
    <div>
        {% include 'inc/_visitor.html.twig' with vars %}
    </div>
    <div class="float left">
        <img src="{{ qrCode }}" alt="Booking_order_qr_code"/>
    </div>

    <p>{% trans %}Enjoy_your_visit{% endtrans %}</p>
    <hr>
</div>
</body>
</html>