<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Confirmation</h1>
<p>Your order is confirmed!</p>
<p>{% trans %}Order ref: {% endtrans %} {{ bookingOrder.bookingRef }} {% trans %} is being processed{% endtrans %} </p>

<h4>{% trans %}confirmation to {% endtrans %} {{ bookingOrder.customer.email }} {% trans %} under way {% endtrans %} </h4>

<p>{{ bookingOrder.wishes }}  {% trans %}visitor(s) expected on{% endtrans %}  {{ bookingOrder.expectedDate | date("d/m/Y") }}  </p>

{% if bookingOrder.visitors is defined %}

    {% include 'inc/_visitor.html.twig' %}

{% else %}
    <p>{% trans %}no visitor found{% endtrans %}</p>
{% endif %}

<img src="{{ img }}">
</body>
</html>