{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
    {% include 'inc/_workflow.html.twig' with {'level': '4'} only %}
    <h2>{% trans %}Payment is confirmed {% endtrans %} : {{ bookingOrder.extPaymentRef }} </h2>
    <p>{% trans %}Order ref: {% endtrans %} {{ bookingOrder.bookingRef }} {% trans %} is being processed{% endtrans %} </p>

    <h4>{% trans %}confirmation to {% endtrans %} {{ bookingOrder.customer.email }} {% trans %} under way {% endtrans %} </h4>

    <p>{{ bookingOrder.wishes }}  {% trans %}visitor(s) expected on{% endtrans %}  {{ bookingOrder.expectedDate | date("d/m/Y") }}  </p>

    {% if bookingOrder.visitors is defined %}

        {% include 'inc/_visitor.html.twig'  %}

    {% else %}
        <p>{% trans %}no visitor found{% endtrans %}</p>
    {% endif %}



{% endblock %}

{% block aside %} {% endblock %}

