{% set vars = {'level': '4'} %}
{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block header %}
    <h2>{% trans %}your_reference{% endtrans %} </h2>
    <h3 class="text-align-center text-justify"> {{ bookingOrder.bookingRef }}</h3>
{% endblock %}

{% block main %}
    {%  if bookingOrder.confirmedAt is null%}
    <button type="submit" class="btn-group background-dark-red float-left"  name="mail" value="mail">
        <a href="{{ path('resendMail') }}">

            <img src="{{ qrCode }}" width=60 height=60 alt="Booking_order_qr_code"/>
            {% trans %}resend_mail{% endtrans %}
        </a>
    </button>
    {% endif %}
{% endblock %}


{% block aside %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
