{% set vars = {'level': '4'} %}
{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block header %}
    <h2>{% trans %}your_reference{% endtrans %}  {{ bookingOrder.bookingRef }}</h2>
{% endblock %}

{% block main %}

<div id="confirmation">
    <h4>{% trans %}confirmation_to{% endtrans %} <br>
        {{ bookingOrder.customer.email }} <br> {% trans %}is_under_way {% endtrans %} </h4>
</div>

{% endblock %}


{% block aside %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
