{% set vars = {'level': '2'} %}
{% extends 'base.html.twig' %}

{% block title %}
    {% if bookingOrder.validatedAt != null %}
        <h3>{% trans %}Order_reference :{% endtrans %}  </h3>
    {% endif %}

{% endblock %}
{% block main %}

    <div class="row">
        <div class="col-md-12" id="guestList">

            <h3>{% trans %}guests{% endtrans %} </h3>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {% for visitor in form.visitors %}
                {{ form_row(visitor.firstName) }}
                {{ form_row(visitor.lastName) }}
                {{ form_row(visitor.birthDate) }}
                {{ form_row(visitor.country) }}
                {{ form_row(visitor.discounted) }}
            {% endfor %}


            {{ form_rest(form) }}

            <input type="submit" class="btn btn-primary float-right"  value="{% trans %}Go_ahead{% endtrans %} "/>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}


{% block aside %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
