{% extends 'base.html.twig' %}

{% block title %}
    {% if bookingOrder.validatedAt != null %}
        <h3>{% trans %}Order_reference :{% endtrans %} {{ bookingOrder.bookingRef }} </h3>
    {% endif %}

{% endblock %}
{% block main %}

    {% set vars = {'level': '2'} %}
    {#
    {% include 'inc/_workflow.html.twig' with vars only %} #}
    <div class="row">
        <div class="col-md-12" id="cart">

            {{ form_start(form) }}


            <h3>{% trans %}Your_order{% endtrans %} </h3>
           {{ form_row(form) }}

            {{ form_rest(form) }}

            <input type="submit" class="btn btn-primary float-right"  value="{% trans %}Go_ahead{% endtrans %} "/>

            {{ form_end(form) }}

        </div>
    </div>
    <script>
    </script>
{% endblock %}

{% block aside %}
    {% set vars = {'level': '2'} %}
    {% include 'inc/_timeline.html.twig' with vars %}
{% endblock %}
