{% set vars = {'level': '2'} %}
{% extends 'base.html.twig' %}


{% block title %}  {{ parent() }} {% endblock %}

{% block header %}
    {% if bookingOrder.validatedAt != null %}
        <h3>{% trans %}Order_reference :{% endtrans %}  </h3>
    {% endif %}
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12 background-light" id="guestList">

            <h4>{% trans %}guests{% endtrans %} </h4>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {% for visitor in form.visitors %}
                {{ form_row(visitor.firstName) }}
                {{ form_row(visitor.lastName) }}
                {{ form_row(visitor.birthDate) }}
                {{ form_row(visitor.country) }}
                {{ form_row(visitor.discounted) }}
         {# TODO       indiquer qu’il sera nécessaire de présenter sa carte d’étudiant, militaire ou équivalent lors de l’entrée pour prouver qu’on bénéficie bien du tarif réduit. #}
            {% endfor %}


            {{ form_rest(form) }}

            {{ include('inc/_button.html.twig') }}

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}


{% block aside %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
