{% extends 'base.html.twig' %}

{% block title %}visit{% endblock %}

{% block main %}

    {% set vars = {'level': '1'} %}

    {# {% include 'inc/_workflow.html.twig' with vars only %} #}

    <div class="row">
        <div class="col-md-12" id="cart">

            <h3>{% trans %}Your_order{% endtrans %} </h3>
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div id="datepicker" >
                <i class="fa fa-calendar"></i>  {{ form_widget(form.expectedDate) }}
                </br>
            </div>
            {#   {{ form_row(form) }}    #}

            <div>
                {{ form_row(form.partTimeCode) }}
                {{ form_row(form.wishes) }}
            </div>







            <input type="submit" class="btn btn-primary float-right" value="{% trans %} Go_ahead {% endtrans %} "/>

            {{ form_end(form) }}

        </div>
    </div>
    <script>
    </script>
{% endblock %}

