{% set vars = {'level': '1'} %}
{% extends 'base.html.twig' %}

{% block title %}visit{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12 background-light" id="kickOff">

            <h3>{% trans %}Choose_date_type_number_of_visitor{% endtrans %} </h3>
            {{ form_start(form) }}
            {{ form_errors(form) }}

                <i class="fa fa-calendar"></i>  {{ form_widget(form.expectedDate) }}
                {{ form_widget(form.partTimeCode) }}
                {{ form_widget(form.wishes) }}

            <input type="submit" class="btn btn-primary float-right" value="{% trans %} Go_ahead {% endtrans %} "/>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}


{% block aside %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}