{% set vars = {'level': '1'} %}

{% extends 'base.html.twig' %}

{% block title %}  {{ parent() }} {% endblock %}

{% block header %}
    {{ include('inc/_header.html.twig') }}
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12 background-light" id="kickOff">

            <h4>{% trans %}Choose_date_type_number_of_visitor{% endtrans %} </h4>
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <i class="fa fa-calendar"></i> {{ form_widget(form.expectedDate) }}
                {{ form_errors(form.expectedDate) }}

            {{ form_widget(form.partTimeCode) }}

            {{ form_widget(form.wishes) }}
                {{ form_errors(form.wishes) }}

            {{ include('inc/_button.html.twig') }}

            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}


        {% block aside %}
            {{ parent() }}
            {% if fullBooked is defined %}
                <div class="js-full-booked" data-full-booked ="{{ fullBooked |json_encode|e('html_attr') }}">
                    <!-- ... -->
                </div>
            {% endif %}
        {% endblock %}

        {% block javascripts %}
            {{ parent() }}
        {% endblock %}