<ul class="timeline">

    {% if level >= "1" %}
        <li>
            <a target="_blank" href="{{ path('home') }}">
                <h5><i class="fa fa-calendar"></i>See_you_on {{ bookingOrder.expectedDate |date("d/m/Y") }}</h5></a>
        </li>
    {% endif %}

    {% if level >= "2" %}
        <li>
            <a href="{{ path('guest') }} "><h5>{{ bookingOrder.wishes }} guest </h5></a>
            {% if bookingOrder.visitors is defined %}
                {% for visitor in bookingOrder.visitors %}
                    <p>
                        {{ visitor.firstName | title }} {{ visitor.lastName | upper }} <br>
                        {% if level >= "3" %}
                            <span class="float-right">
                                ({{ visitor.cost | price }})
                            </span>
                        {% endif %}
                    </p>
                {% endfor %}
            {% endif %}
        </li>
    {% endif %}


    <li>
        {% if level >= "3" %}
            <a href="{{ '#' }}"><h5>validation_for_payment</h5></a>
            <p>{% trans %}Booking_reference {% endtrans %}  {{ bookingOrder.bookingRef }}  </p>
        {% else %}
            <a href="{{ path('lastCheck') }}">confirmation</a>
        {% endif %}

        <p>
            <span class="float-right">
                total {{ bookingOrder.totalAmount | price }}
            </span>
        </p>

    </li>
    <li>
        <a href="#"><h5>Confirmation</h5></a>
    <p>
        {% trans %}Payment_confirmed {% endtrans %}   {{ bookingOrder.extPaymentRef }}
    </p>
    </li>

</ul>





