<ul class="timeline background-light p-2">
    {% if  bookingOrder.validatedAt is not null %}
        <quote> {% trans %}Booking_reference {% endtrans %}  {{ bookingOrder.bookingRef }} </quote>
    {% endif %}

    <li>

        <a href="{% if  level < "4" %} {{ path('home') }} {% else %} # {% endif %}  ">
            <h5>{% trans %}step1{% endtrans %}
                <span class="float-right">{{ bookingOrder.expectedDate |date("d/m/Y") }} </span>
            </h5>
        </a>

    </li>

    <li>
        <a href="{% if level >= "2" and level < "4" %} {{ path('guest') }} {% else %} # {% endif %}  ">
            <h5>{% trans %}step2{% endtrans %}
                <span class="float-right">{{ bookingOrder.wishes }} </span>
            </h5>
        </a>

        {% if bookingOrder.visitors is defined and  level > "2" %}
            <ul>
                {% for visitor in bookingOrder.visitors %}
                    <li>
                        {{ visitor.firstName | title }} {{ visitor.lastName | upper }}
                        {% if level >= "3" %}
                            <span class="float-right">
                                ({{ visitor.cost | price }})
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </li>

    <li>
        <a href="{% if level >= "3" and  level < "4" %} {{ path('lastCheck') }} {% else %} # {% endif %}  ">
            <h5>{% trans %}step3{% endtrans %}
                <span class="float-right"> total {{ bookingOrder.totalAmount | price }}</span>
            </h5>
        </a>


    </li>

    <li>
        <a href="#">
            <h5>{% trans %}step4{% endtrans %}</h5>
        </a>
        <p> {% trans %}py_ref {% endtrans %}   {{ bookingOrder.extPaymentRef }} </p>
    </li>

</ul>





