<h4>see you</h4>
<ul class="timeline">


    {% if level >= "1" %}
        <li>
            <a target="_blank" href="{{ path('home') }}">On</a>
            <a href="{{ path('home') }}">{{ bookingOrder.expectedDate |date("d/m/Y") }}</a>
            <p></p>
        </li>
    {% endif %}

    {% if level >= "2" %}
        <li>
            <a href="{{ path('guest') }} "> {{ bookingOrder.wishes }} guest </a>
            {% if bookingOrder.visitors is defined %}
                <ul class="detail">
                    {% for visitor in bookingOrder.visitors %}
                        <li>
                            <p>{{ visitor.firstName | title }}   {{ visitor.lastName | upper }} </p>
                            {% if level >= "3" %}
                                <p> {{ visitor.birthDate| date("d/m/Y") }} . ' tariff ' .{{ visitor.cost | price }} </p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}

    {% if level >= "3" %}
        <li>
            <a href="{{ path('lastCheck') }}">bookingReference</a>

            {% if bookingOrder.bookingRef starts with "Temp" %}
                <a href="#" stand by</a>
            {% else %}
                <a href="#" class="float-right"> {{ bookingOrder.bookingRef }}</a>
            {% endif %}
            <p>total...
                <a href="#" class="float-right"> {{ bookingOrder.totalAmount | price }}</a>
            </p>
        </li>
    {% endif %}

    {% if level >= "4" %}
        <li>
            <a href="#">PaymentReference</a>

            <a href="#" class="float-right">{{ bookingOrder.extPaymentRef }}</a>
            <p></p>
        </li>
    {% endif %}
</ul>





