
    {# Render the Visitorfields #}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans %}Firstname{% endtrans %}</th>
            <th>{% trans %}Lastname{% endtrans %}</th>
            <th>{% trans %}Birthdate{% endtrans %}</th>
            <th>{% trans %}discounted{% endtrans %}</th>
            <th>{% trans %}cost{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for visitor in bookingOrder.visitors %}
            <tr>
                <td>{{ visitor.firstName | title }}</td>
                <td>{{ visitor.lastName | upper }}</td>
                <td>{{ visitor.birthDate| date("d/m/Y") }}</td>
                <td>{{ visitor.discounted }} </td>
                <td>{{ visitor.cost | price }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
